<!DOCTYPE html>

<html>
  
  <head>
  
    <title>Daniel Galarza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    
    <!-- Compiled and minified Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          
  </head>
  
  <body bgcolor="#ffffff">
    <!-- e8eaf6 -->
    <header>
      <div class="navbar-fixed">
        <nav class="z-depth-0">
          <div class="nav-wrapper  indigo accent-2">
            <a href="#!" class="brand-logo center"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
              <li><a href="http://download844.mediafire.com/73e4fty5mrlg/c62btezdq5zd6m0/resume_web.pdf" download="DanielGalarzaResume.pdf">Download Resume
                <i class="mdi-content-send right"><i class="material-icons">file_download</i></i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo"> 
              <li><a href="http://download844.mediafire.com/drkclbyta7fg/c62btezdq5zd6m0/resume_web.pdf" download="DanielGalarzaResume.pdf">Download Resume
                <i class="mdi-content-send right"><i class="material-icons">file_download</i></i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header> <!-- End of Nav Bar -->
    
    <header class=" indigo accent-2">
      <div align="center"><img src="https://scontent-dfw1-1.xx.fbcdn.net/v/t1.0-9/1381438_639909656063924_1988687158_n.jpg?oh=db7cac1a0efe31cb7d04d041ac2184b2&oe=57FEA9CB" class="circle responsive-img center-align" alt class="circle responsive-img center-align" width="150px" height="150px" >
        <h1 class="center-align grey-text text-lighten-5">Daniel Galarza</h1>
        <button class="waves-effect waves-light indigo accent-1 btn">
          <a class="white-text" href="http://download844.mediafire.com/73e4fty5mrlg/c62btezdq5zd6m0/resume_web.pdf" download="DanielGalarzaResume.pdf">Download Resume
            <i class="mdi-content-send right"> <i class="material-icons">file_download</i> </i> </a>
        </button>
        <h1 class="center-align grey-text text-lighten-5"></h1>
        <p class="center-align grey lighten-4 grey-text text-darken-1"><strong class="indigo-text  darken-4">Web and Mobile Developer</strong></p>
      </div>

    </header> <!-- End of Header -->

    <!-- ****************** About Container ****************** -->
    
    <div class="container">
      <div class="container about" style="width: 95%">
        <h2 class="header center-align title-header">About Me</h2>
        <hr>
        <div class="row">
          <div class="col s12 m8 l8 blue-grey-text text-darken-3">
            <h6>Story</h6>
            <p class="flow-text" align="center">
                Hello! I'm <strong class="indigo-text  darken-4">Daniel Galarza</strong> and I am a <strong>Jr. Java, Android and Web 
                Developer</strong> based in
                Denver, CO. I enjoy working on <strong class="indigo-text lighten-1">usable, clean and
                practical</strong> projects.
            </p>
          </div>
          
          <div class="col s12 m4 l4 blue-grey-text text-darken-3">
            <h6>Profile</h6>
            <div class="card deep-orange lighten-4 z-depth-3">
              <div class="card-content deep-orange-text">
                <img src="https://media.licdn.com/media/p/8/005/06b/2f1/15ea8bf.jpg" class="circle responsive-img center-align" alt class="circle responsive-img center-align" width="64" height="64">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <i class="fa fa-random"></i>
              </div>
            </div>
          </div>
        </div> 
      </div> 

    </div> <!-- End of About Container -->

    
    <!-- ****************    Repoetory Section    **************** -->
    
    <div class="container" style="width: 85%">
      <div class="row">
        <h2 class="header center-align title-header">Repos</h2>
        <hr>
        <div class="row">
          
          <div class="col s12 m4 l4 blue-grey-text text-darken-3">
            <h6>Android</h6>
            <div class="card indigo accent-2 z-depth-3">
              <div class="card-content center-align white-text">
                <span class="card-title">
                  <a class="white-text center-align" href="https://github.com/DanielGalarza/Collab-Station" target="_blank">
                    <strong class="flow-text white-text">Collab Station</strong></a>
                </span>
                <div class="repo-icons center-align">
                    <a href="https://github.com/DanielGalarza/Collab-Station/fork" target="_blank">
                        <i class="fa fa-random"></i> 0
                    </a>
                    <a href="https://github.com/DanielGalarza/Collab-Station/stargazers" target="_blank">
                        <i class="fa fa-star"></i> 0
                    </a>
                    <a href="https://github.com/DanielGalarza/Collab-Station/watchers" target="_blank">
                        <i class="fa fa-eye"></i> 0
                    </a>
                </div>
              </div>
              <div class="card-action center-align">
                <span class="updated-on">Updated on June 29, 2016</span>
              </div>
            </div>
          </div>
          
           <div class="col s12 m4 l4 blue-grey-text text-darken-3">
            <h6>Pyhton</h6>
            <div class="card center-align indigo accent-2 z-depth-3">
              <div class="card-content white-text">
                <span class="card-title center-align">
                  <a class="white-text center-align" href="https://github.com/DanielGalarza/MAL_Compiler" target="_blank">
                    <strong class="flow-text white-text">MAL_Compiler</strong></a>
                </span>
                <div class="repo-icons center-align">
                    <a href="https://github.com/DanielGalarza/MAL_Compiler/fork" target="_blank">
                        <i class="fa fa-random"></i> 0
                    </a>
                    <a href="https://github.com/DanielGalarza/MAL_Compiler/stargazers" target="_blank">
                        <i class="fa fa-star"></i> 0
                    </a>
                    <a href="https://github.com/DanielGalarza/MAL_Compiler/watchers" target="_blank">
                        <i class="fa fa-eye"></i> 0
                    </a>
                </div>
              </div>
              <div class="card-action center-align">
                <span class="updated-on">Updated on June 29, 2016</span>
              </div>
            </div>
          </div>
          
          <div class="col s12 m4 l4 blue-grey-text text-darken-3">
            <h6>Java</h6>
            <div class="card indigo accent-2 z-depth-3">
              <div class="card-content center-align white-text">
                <span class="card-title">
                  <a class="white-text center-align" href="https://github.com/DanielGalarza/PreprocessorProject" target="_blank">
                    <strong class="flow-text white-text">PreprocessorProject</strong></a>
                </span>
                <div class="repo-icons center-align">
                    <a href="https://github.com/DanielGalarza/PreprocessorProject/fork" target="_blank">
                        <i class="fa fa-random"></i> 0
                    </a>
                    <a href="https://github.com/DanielGalarza/PreprocessorProject/stargazers" target="_blank">
                        <i class="fa fa-star"></i> 0
                    </a>
                    <a href="https://github.com/DanielGalarza/PreprocessorProject/watchers" target="_blank">
                        <i class="fa fa-eye"></i> 0
                    </a>
                </div>
              </div>
              <div class="card-action center-align">
                <span class="updated-on">Updated on June 29, 2016</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row center">
          <button class="waves-effect waves-light deep-orange accent-2 z-depth-3 btn-large">
            <a class="white-text" href="https://github.com/DanielGalarza">  
              <img src = 'https://assets-cdn.github.com/images/modules/logos_page/Octocat.png' style='vertical-align: middle' width="32px" height="32px"/>All GitHub Repos</a>
          </button>
        </div>
      </div>
      
    </div> <!-- End of Connect Section -->
  
    <!-- **************** Job History: Collapsable Card **************** -->
    
    <div class="container" style="width: 65%">
      <div class="col s12 m10 l10">
        <h2 class="header center-align title-header">Skills</h2>
          <!--i class="material-icons md-48">done_all</i> Skills</h1-->
        <ul class="collapsible popout  z-depth-4" id="collapse" data-collapsible="expandable">
          <li class="active">
            <div class="collapsible-header  white-text active indigo accent-1 "><i class="mdi-av-web"></i>Programming Skills</div>
            <div class="collapsible-body center-align deep-orange lighten-4 black-text"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
          <li>
            <div class="collapsible-header white-text indigo accent-1"><i class="mdi-editor-format-align-justify"></i>Personal Skills</div>
            <div class="collapsible-body center-align deep-orange lighten-4 black-text"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
          <li>
            <div class="collapsible-header white-text indigo accent-1"><i class="mdi-av-play-shopping-bag"></i>IT Skills</div>
            <div class="collapsible-body center-align deep-orange lighten-4 black-text"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
          <li>
            <div class="collapsible-header white-text indigo accent-1"><i class="mdi-editor-insert-comment"></i>Interests</div>
            <div class="collapsible-body center-align deep-orange lighten-4 black-text"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
        </ul>
      </div>

    </div> <!-- End of Collapsable Card -->
  

    <!-- ********************   Contact Card   ***************** -->
    
    <div class="col s12 m4 l4">
      <div class="container " style="width: 95%">
        <!--div class="card blue-grey lighten-5"-->
        <div class="card-content black-text">
          <div class="container contact">
            <h2 class="header center-align title-header">Contact</h2>
            <h6>Get In Touch!</h6>
            <hr>
            <div class="row"> 
              <div class="col s12 m12 l12 black-text">
                <div class="row">
                  <form class="col s12 black-text">
                    
                    <div class="row">
                      <div class="input-field col s6 black-text">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="first_name" type="text" class="validate black-text">
                        <label for="first_name">First Name</label>
                      </div>
                      <div class="input-field col s6 black-text">
                        <input id="last_name" type="text" class="validate black-text">
                        <label for="last_name">Last Name</label>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="input-field col s12 black-text">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate black-text">
                        <label for="email">E-Mail</label>
                      </div>
                    </div>

                    <div class="input-field col s12">
                      <i class="material-icons prefix">mode_edit</i>
                      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                      <label for="icon_prefix2" class="">Message</label>
                      <button class="waves-effect waves-light deep-orange accent-2 z-depth-4 btn" type="submit" name="action">Submit
                        <i class="mdi-content-send right"> <i class="material-icons"> send</i> </i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End of Contact Card -->

  
    <!-- ************** Footer ************** -->
    
    <footer class="page-footer indigo accent-2">
      <div class="container">
       
          
          <div class="col l4 offset-l2 s12">
            <div class="center-align">
              <h5 class="footer-header center-align white-text">Thanks for checking out my page!</h5>
              <img src="https://lh6.googleusercontent.com/-s5eEHdwaIJ4/VKM6p9yH_dI/AAAAAAAACjE/oRH4QqhzRfs/w800-h800/facebook-logo-png-transparent-background-i3.png" width="70" height="70">
              <p class="white-text">I'm very social and I'd love to hear from you! Feel free to send me an email, find me on Google Plus, Follow me on GitHub and join me on Linkedin.</p>
            </div>
            <h5 class="footer-header center-align white-text">Connect With Me!</h5>
            <div class="title_div center-align">
                <button class="waves-effect waves-light light-blue darken-3 z-depth-4 btn">
                  <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/daniel-galarza-91a25499">   
                    <img src = 'http://static1.squarespace.com/static/540e1971e4b0131a4d81b4a4/54664b47e4b000e37a0a17f6/54664b47e4b02db36ef346fb/1419897377471/linkedin_circle.png' style='vertical-align: middle' width="30px" height="30px"/> Linkedin</a>
                </button>
                <button class="waves-effect waves-light red z-depth-4 btn">
                  <a class="white-text" href="https://plus.google.com/u/0/104070259664104801497/posts/p/pub">  
                    <img src = 'https://lh3.googleusercontent.com/-IMGb4CkWC98/VeXR6rWlM1I/AAAAAAAA7c4/aC-I28R6_psCNtxmIXAtNuMja5wCYUR9A/w1664-h1664/GooglePlus-logos-02.png' style='vertical-align: middle' width="30px" height="30px"/> Google+</a>
                </button>
                <button class="waves-effect waves-light grey lighten-3 z-depth-4 btn">
                  <a class="blue-grey-text text-darken-4" href="https://github.com/DanielGalarza">  
                    <img src = 'https://assets-cdn.github.com/images/modules/logos_page/Octocat.png' style='vertical-align: middle' width="32px" height="32px"/>GitHub</a>
                </button>
            </div>
          </div>
        
      </div>
      <div class="footer-copyright">
        <div class="container center-align">
        © 2016 Daniel Galarza, All rights reserved.
        </div>
      </div>
    </footer>
    
    <!-- **************** JS initializer for the Slider ***************** -->
    <script>
      $(document).ready(function() {
        $('.slider').slider({full_width: true});
      });
      
      $(".button-collapse").sideNav();
      
      var options = [
        {selector: '#collapse', offset: 400, callback: function() {
          Materialize.showStaggeredList("#collapse");
        } },
        {selector: '#image-test', offset: 500, callback: function() {
          Materialize.fadeInImage("#image-test");
        } }
      ];
      
      Materialize.scrollFire(options);
    </script>
    
    <!-- *****************    CSS Styles    ******************************** -->
    <style>
      
      /* style for headers */
      .title-header {
          color: #536dfe;
          font-weight: 300;
      }
      
      .footer-header {
          font-weight: 300;
      }
      
      /* style for buttons in the footer */
      .tile_div a {
          display: block;
          float: left;
          height: 50px;
          width: 100px;
          margin-right: 5px;
          background-image: url(./images/button_left.png);
          text-align: center;
          line-height: 50px;
          text-decoration: none;
      }
      
      .title_div a.last {
          margin-right: 0;
      }
      
      .clear {
          clear: both;
      }
    </style>
    
  </body>
  
</html>