<!DOCTYPE html>

<html>
  
  <head>
  
    <title>DanielGalarza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    
    <!-- Compiled and minified Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          
  </head>
  
  <body bgcolor="#e8eaf6">
    
    <header>
      <div class="navbar-fixed">
        <nav class="z-depth-0">
          <div class="nav-wrapper  indigo accent-2">
            <a href="#!" class="brand-logo center"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
              <li><a href="badges.html">Components</a></li>
              <li><a href="pages/DanielResume2016.docx" download="DanielResume2016.docx">Download Resume
                <i class="mdi-content-send right"><i class="material-icons">file_download</i></i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo"> 
              <li><a href="badges.html">Components</a></li>
              <li><a href="collapsible.html">Download Resume
                <i class="mdi-content-send right"><i class="material-icons">file_download</i></i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    
    <header class=" indigo accent-2">
      <div align="center"><img src="https://media.licdn.com/media/p/8/005/06b/2f1/15ea8bf.jpg" alt class="circle responsive-img center-align" width="150px" height="150px" ></div>
      <h1 class="center-align grey-text text-lighten-5">Daniel Galarza</h1>
      <h1 class="center-align grey-text text-lighten-5"></h1>
      <p class="center-align grey lighten-4 grey-text text-darken-1">Web and Mobile Developer</p>
    </header>

          
    
  <div class="container">

    
    <!-- ******************* Sliding Images ******************* 
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="http://www.planwallpaper.com/static/images/waterdrops-bright-hd-wallpaper-507074.jpg"> <!-- random image 
          <div class="caption center-align">
            <h1>Welcome To My Portfolio</h1>
            <h3>By Daniel Galarza</h3>
          </div>
        </li>
        <li>
          <img src="http://www.planwallpaper.com/static/images/bokeh-wallpaper.jpg"> <!-- random image 
          <div class="caption center-align">
            <h1>GitHub:</h1>
            <h3>https://github.com/DanielGalarza</h3>
          </div>
        </li>
        <li>
          <img src="http://www.planwallpaper.com/static/images/Baltic_Sea_Wallpaper_By_Martz90_2560X1600_2.jpg"> <!-- random image 
          <div class="caption center-align">
            <h1>Computer Science Major</h1>
            <h3>Mathematics Minor</h3>
          </div>
        </li>
        <li>
          <img src="http://wallpaperstube.com/wp-content/uploads/2014/12/computer_technology_pc_software_wallpaper_hd_desktop.jpg"> <!-- random image 
          <div class="caption center-align">
            <h1 class="light grey darken-3">Check Out My Full Resume By Clicking On The Resume Button</h1>
            <h3 class="light grey darken-3">Thanks For Checking Out My Page!</h3>
          </div>
        </li>
      </ul>
    </div -->
    
    <!-- ****************** About Container ****************** -->
    <div class="container about">
      <h1 class="center-align blue-grey-text text-darken-3">About Me</h1>
      <hr>
      <div class="row">
        
        <div class="col s12 m4 l4 blue-grey-text text-darken-3">
          <h6>Story</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
        <div class="col s12 m4 l4 blue-grey-text text-darken-3">
          <h6>Profile</h6>
          <div class="card deep-orange lighten-4 z-depth-3">
            <div class="card-content deep-orange-text">
              <img src="https://scontent-dfw1-1.xx.fbcdn.net/v/t1.0-9/1381438_639909656063924_1988687158_n.jpg?oh=db7cac1a0efe31cb7d04d041ac2184b2&oe=57FEA9CB" class="circle responsive-img center-align" width="64" height="64">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="card-action light-blue darken-2">
              <a href="#">Link</a>
              <a href='#'>Link</a>
            </div>
          </div>
        </div>
        
        <div class="col s12 m4 l4 blue-grey-text text-darken-3">
          <h6>Story</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
      </div> <!-- End of Row -->
      
      
      
      
      
      
      <!-- **************** Job History: Collapsable Card **************** -->
      
      <div class="container ">
        <div class="col s12 m4 l4">
          <h1 class="center-align blue-grey-text text-darken-3">Skills</h1>
            <!--i class="material-icons md-48">done_all</i> Skills</h1-->
          <ul class="collapsible light-blue lighten-4 z-depth-2" id="collapse">
            <li class="active">
              <div class="collapsible-header center-align white-text active grey "><i class="mdi-av-web"></i>Programming Skills</div>
              <div class="collapsible-body center-align black-text"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
              <div class="collapsible-header center-align white-text grey"><i class="mdi-editor-format-align-justify"></i>Personal Skills</div>
              <div class="collapsible-body center-align black-text"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
              <div class="collapsible-header center-align white-text grey"><i class="mdi-av-play-shopping-bag"></i>IT Skills</div>
              <div class="collapsible-body center-align black-text"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
              <div class="collapsible-header center-align white-text grey"><i class="mdi-editor-insert-comment"></i>Interests</div>
              <div class="collapsible-body center-align black-text"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- End of About Container -->
  
    <!-- ****************  Contact Container ****************** 
    <div class="container contact">
      <h1 class="white-text">Contact</h1>
      <h6>get in touch with me</h6>
      <hr>
      <div class="row"> <!---------------------------
        <div class="col s12 m6 l6">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6 white-text">
                  <input id="first_name" type="text" class="validate">
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6 white-text">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Last Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 white-text">
                  <input id="email" type="email" class="validate">
                  <label for="email">E-Mail</label>
                </div>
              </div>
              <textarea class="materialize-textarea white-text" placeholder="Your Message" required></textarea>
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="mdi-content-send right"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="col s12 m6 l6 contact-holder">
          <h6 class="mdi-action-home">Address</h6>
          <p>Nr. 6, 21 Awesome Street, London, UK</p>
          <h6 class="mdi-hardware-phone-android">Phone Number</h6>
          <p>+91 9912776151</p>
          <h6 class="mdi-action-open-in-browser">Website</h6>
          <p>qnimate.com</p>
        </div>
      </div>
    </div>  -->
    
    
    
    <!-- ************** Contact Card ************* -->
    <hr>
    <div class="col s12 m4 l4">
      <div class="container indigo lighten-5">
        <!--div class="card blue-grey lighten-5"-->
        <div class="card-content black-text">
          <div class="container contact">
            <h1 class="center-align blue-grey-text text-darken-3">Contact </h1>
            <h6>Get In Touch!</h6>
            <hr>
            <div class="row"> <!--------------------------->
              <div class="col s12 m12 l12 black-text">
                <div class="row">
                  <form class="col s12 black-text">
                    
                    <div class="row">
                      <div class="input-field col s6 black-text">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="first_name" type="text" class="validate black-text">
                        <label for="first_name">First Name</label>
                      </div>
                      <div class="input-field col s6 black-text">
                        <input id="last_name" type="text" class="validate black-text">
                        <label for="last_name">Last Name</label>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="input-field col s12 black-text">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate black-text">
                        <label for="email">E-Mail</label>
                      </div>
                    </div>

                    <div class="input-field col s12">
                      <i class="material-icons prefix">mode_edit</i>
                      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                      <label for="icon_prefix2" class="">Message</label>
                      <button class="waves-effect waves-light orange darken-1 btn" type="submit" name="action">Submit
                        <i class="mdi-content-send right"> <i class="material-icons"> send</i> </i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
    <!-- ************** Footer ************** -->
    
    <footer class="page-footer indigo accent-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/daniel-galarza-91a25499">   <img src = 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_gray-512.png' style='vertical-align: middle' width="30px" height="30px"/> My Linkedin Account</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/DanielGalarza">  <img src = 'http://www.jennyzwang.com/gh2.png' style='vertical-align: middle' width="32px" height="32px"/> My GitHub Account</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Daniel Galarza, All rights reserved.
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    
    <!-- **************** JS initializer for the Slider ***************** -->
    <script>
      $(document).ready(function() {
        $('.slider').slider({full_width: true});
      });
      
      $(".button-collapse").sideNav();
      
      var options = [
        {selector: '#collapse', offset: 400, callback: function() {
          Materialize.showStaggeredList("#collapse");
        } },
        {selector: '#image-test', offset: 500, callback: function() {
          Materialize.fadeInImage("#image-test");
        } }
      ];
      
      Materialize.scrollFire(options);
    </script>
    
  </body>
  
</html>